body {
	margin-top:50px;
}

/* Navbar */

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav>li>a {
	color: #ccc;
}


.jumbotron {
	margin-bottom: 0;
	padding-bottom: 0;
	background: #f5f5f5;
}

.jumbotron-main {
	padding-top: 20px;

}

.jumbotron .intro {
	padding-top: 30px;
}

.jumbotron .intro h1 {
	color: #1f2a7e;
}

.jumbotron-main .icon {
	font-size:120px;
	margin-top: -50px;
}

.jumbotron .btn-group {
	margin-bottom: 20px;
}

.subheader {
	padding: 5px 0;
	background: #e9e9e9;
	color: #fff;
}

.subheader a i {
	margin-top: -5px;
	float: left;
	margin-right: 7px;
}

/*.subheader a, .subheader a:visited {
	color: #fff;
	font-weight: bold;
	font-size: 14px;
}*/


/*carousel*/

.carousel .carousel-inner {
	height: 410px;
}
.carousel .carousel-indicators {
	bottom: 0;
}
.carousel .item {
	/*height: 300px !important;*/
    background: none;    
}
.carousel .item img {
	max-height: 392px;
    height: 100%;
    margin: auto;
}
.carousel a {
 	background:none !important;
}
.carousel .carousel-indicators li {
  background-color: #999;
  background-color: rgba(70,70,70,.25);
}
.carousel .carousel-indicators .active {
  background-color: #444;
}

.carousel-control span {
	text-shadow: none;
	color: #999;
	font-size: 24px;
	line-height: 1;
	margin-top: -12px;
}

.carousel-control .icon-prev, 
.carousel-control .glyphicon-chevron-left {
	left: 0;
}

.carousel-control .icon-next, 
.carousel-control .glyphicon-chevron-right {
	right: 0;
}


/* Content */

.container.content {
	padding-top: 20px;
}