body {
	margin-top:20px;

}

/*docs menu*/
.docs-menu li > a {
	padding: 5px 15px !important;
	border-radius:0;
}
.docs-menu li.active > a {
	padding-left: 13px !important;
	font-weight: 700;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	border-left: 2px solid #000;
}
.docs-menu li > a:hover, .docs-menu li.active > a:hover{
	padding-left: 14px !important;
	color: #000;
	background-color: rgba(0, 0, 0, 0);
	border-left: 1px solid #000;
	background: none;
}

.bootcards-documentation-list .list-group-item-heading,
.bootcards-documentation-list .list-group-item-text {
	margin: 0;	
}

.docs-menu li.sub > a,
.docs-menu li.active.sub > a {
	padding-left:25px !important;
	padding-top:3px !important;
	padding-bottom:3px !important;
}
.docs-menu li.active.sub > a {
	padding-left:23px !important;
}
.docs-menu li.sub > a:hover, .docs-menu li.sub.active > a:hover{
	padding-left:24px !important;
}


.bs-docs-section {
	padding-bottom: 20px;	
	border-bottom: 1px solid #eee;
	margin-bottom: 20px;

	padding-top: 60px;
    margin-top: -40px;
}
.bs-docs-section:first-child {
	padding-top: 0;
    margin-top: 0;
}


.bs-docs-section:last-child {
	padding-bottom: 0;
	border-bottom: 0;
	margin-bottom: 0;
}

.bs-docs-section > *:first-child {
	margin-top: 0;
}

.bs-docs-section p.lead {
	margin-bottom: 10px;
}

/* Bootstrap Documentation styles */

.bs-example {
	position: relative;
	padding: 45px 15px 15px;
	margin: 0 -15px 15px;
	background-color: #fafafa;
	box-shadow: inset 0 3px 6px rgba(0,0,0,.05);
	border-color: #e5e5e5 #eee #eee;
	border-style: solid;
	border-width: 1px 0;	
	margin-top: 20px;
}

@media (min-width: 768px) {
	.bs-example {
		margin-left: 0;
		margin-right: 0;
		background-color: #fff;
		border-width: 1px;
		border-color: #ddd;
		border-radius: 4px 4px 0 0;
		box-shadow: none;
	}
}

.bs-example:after {
	content: "Example";
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 12px;
	font-weight: 700;
	color: #bbb;
	text-transform: uppercase;
	letter-spacing: 1px;
}


.bs-example-type .table td {
padding: 15px 0;
border-color: #eee;
}

.bs-example-type .table tr:first-child td {
	border-top: 0;
}

.bs-example>p:last-child, .bs-example>ul:last-child, .bs-example>ol:last-child, .bs-example>blockquote:last-child, .bs-example>.form-control:last-child, .bs-example>.table:last-child, .bs-example>.navbar:last-child, .bs-example>.jumbotron:last-child, .bs-example>.alert:last-child, .bs-example>.panel:last-child, .bs-example>.list-group:last-child, .bs-example>.well:last-child, .bs-example>.progress:last-child, .bs-example>.table-responsive:last-child>.table {
margin-bottom: 0;
}

.bs-example+.highlight {
margin: -15px -15px 15px;
border-radius: 0;
border-width: 0 0 1px;
}
.highlight {
padding: 0;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

@media (min-width: 768px) {
.bs-example+.highlight {
margin-top: -16px;
margin-left: 0;
margin-right: 0;
border-width: 1px;
border-bottom-left-radius: 4px;
border-bottom-right-radius: 4px;
}
}

.highlight pre {
padding: 0;
margin-top: 0;
margin-bottom: 0;
background-color: transparent;
border: 0;
white-space: nowrap;
}