html, 
body {
	height: 100%;
}

body {
	padding-top: 50px;
	overflow-x:hidden;
}

.wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}


small {
	font-size: 70%;
}





/* NAVBAR */

.navbar-header {
	display: block;
}

.navbar-nav {
	display: none;
}

.navbar-toggle {
	display: none;
}




/* GRID */

.container {
	width: auto;
	height: 100%;
	margin: 0;
}

body > .container > .row {
	height: 100%;
	padding-bottom: 50px;
}

body.bootcards-nofooter > .container > .row {
	padding-bottom: 0;
}

.container .bootcards-cards,
.container .bootcards-list {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;	
}

@media (min-width:768px) {
	.container .bootcards-list {
		border-right: 1px solid rgba(0,0,0,0.2);
	}	
}

.container .bootcards-cards {
	padding-top: 15px;
}

@media (min-width:768px) {
	.bootcards-cards > div[class*='col-']:not(:first-child) {
		padding-left:8px;
	}	
	.bootcards-cards > div[class*='col-']:not(:last-child) {
		padding-right:8px;
	}		
}


/* MENU */

.navmenu {
	display: none;
	padding: 0;
}

.navmenu li {
	font-size: 15px;
	line-height: 30px;
}

.navmenu i {
	width: 24px;
	margin-right: 5px;
	text-align: center;
}


/* LISTS */

.bootcards-list {
	padding: 0;
}

.bootcards-list .panel {
	margin-bottom: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
	border-radius: 0;
}

a.list-group-item:before {
	font-family: 'FontAwesome';
	content: '';
	position: absolute;
	right: 15px;
	top: 50%;
	font-size: 14px;
	line-height: 14px;
	margin-top: -7px;
	color: #ccc;
}

.list-group.bootcards-no-indicators a.list-group-item:before {
	display: none;
}


/* List - Subheadings */

.list-group-item.bootcards-list-subheading {
	background: #eee;
	margin-left: 0;
	padding-left: 15px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 14px;
	z-index: 6;
	padding-top: 2px;
	padding-bottom: 2px;
}

a.list-group-item.bootcards-list-subheading {
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
}

a.list-group-item.bootcards-list-subheading:hover {
	background: #f5f5f5;
}

a.list-group-item.bootcards-list-subheading:before {
	font-family: 'FontAwesome';
	content: '';
	position: absolute;
	left: 15px;
	top: 50%;
	font-size: 14px;
	line-height: 14px;
	margin-top: -7px;
	color: #ccc;
}

a.list-group-item.bootcards-list-subheading.collapsed:before {
	content: '';
}


/* List - Search Form */

.bootcards-list .panel-body {
	padding: 0;
}

.bootcards-list form, .bootcards-list .search-form {
	background: #BBB;
	padding: 8px;
}

.bootcards-list form .row, .bootcards-list .search-form .row {
	margin: 0;
}

.bootcards-list form .row > div:first-child, .bootcards-list .search-form .row > div:first-child {
	padding-right: 4px;
	padding-left: 0;
}

.bootcards-list form .row > div:last-child, .bootcards-list .search-form .row > div:last-child {
	padding-left: 4px;
	padding-right: 0;
}




/* CARDS */

.panel-footer {
	background: 0;
}


/* FORMS */

.bootcards-clearinput {
	position: absolute;
	right: 0;
	top: 6px;
	color: #ccc;
	display: block;
}

/* Toggle – based on Ratchet.css */

.bootcards-toggle {
  position: relative;
  display: block;
  width: 74px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #ddd;
  border-radius: 20px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: background-color, border;
     -moz-transition-property: background-color, border;
          transition-property: background-color, border;
}
.bootcards-toggle .bootcards-toggle-handle {
  position: absolute;
  top: -1px;
  left: -1px;
  z-index: 2;
  width: 28px;
  height: 28px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 100px;
  -webkit-transition-duration: .2s;
     -moz-transition-duration: .2s;
          transition-duration: .2s;
  -webkit-transition-property: -webkit-transform, border, width;
     -moz-transition-property:    -moz-transform, border, width;
          transition-property:         transform, border, width;
}
.bootcards-toggle:before {
  position: absolute;
  top: 3px;
  right: 11px;
  font-size: 13px;
  color: #999;
  text-transform: uppercase;
  content: "Off";
}
.bootcards-toggle.active {
  background-color: #5cb85c;
  border: 2px solid #5cb85c;
}
.bootcards-toggle.active .toggle-handle {
  border-color: #5cb85c;
  -webkit-transform: translate3d(44px, 0, 0);
      -ms-transform: translate3d(44px, 0, 0);
          transform: translate3d(44px, 0, 0);
}
.bootcards-toggle.active:before {
  right: auto;
  left: 15px;
  color: #fff;
  content: "On";
}
.bootcards-toggle input[type="checkbox"] {
  display: none;
}


/* CALENDAR */

.bootcards-calendar .panel-body {
	padding: 0;
}

.bootcards-calendar .fc-header-left,
.bootcards-calendar .fc-header-right {
	padding: 15px;
}

.bootcards-calendar .fc-header-title h2 {
	margin: 0;
}

.bootcards-calendar .fc-header .fc-button {
	background: transparent;
	box-shadow: none;
	border-color: transparent;
	margin: 0;
	padding: 0;
}

.bootcards-calendar .fc-content th:first-child,
.bootcards-calendar .fc-content td:first-child {
	border-left-width: 0;
}

.bootcards-calendar .fc-content th:last-child,
.bootcards-calendar .fc-content td:last-child {
	border-right-width: 0;
}


/* FOOTER */

.bootcards-nofooter .navbar-fixed-bottom {
	display: none;
}

.navbar-fixed-bottom .container {
	padding: 0;
	margin: 0;
}

.navbar-fixed-bottom .btn-group {
	list-style: none;
	width: 100%;
	margin: 0 auto;
}

.navbar-fixed-bottom .btn,
.navbar-fixed-bottom .btn:hover,
.navbar-fixed-bottom .btn:active,
.navbar-fixed-bottom .btn:focus {
	padding: 0;
	padding-left: 10px;
	padding-right: 10px;
	border: 0;
	background: transparent;
	box-shadow: none;
	display: inline-block;
	opacity: 1;
}

.navbar-fixed-bottom .btn-group .btn {
	width: 25%;
}

@media (min-width:768px) {
	.navbar-fixed-bottom .btn-group .btn {
		width: 15%;
	}
}

