html, 
body {
	height: 100%;
}

body {
	padding-top: 50px;
	overflow-x:hidden;
}

.wrapper {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}


small {
	font-size: 70%;
}





/* NAVBAR */

.navbar-header {
	display: block;
}

.navbar-nav {
	display: none;
}

.navbar-toggle {
	display: none;
}




/* GRID */

.container {
	width: auto;
	height: 100%;
	margin: 0;
}

body > .container > .row {
	height: 100%;
	padding-bottom: 50px;
	
}

.container .bootcards-cards,
.container .bootcards-list {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	height: 100%;	
}

@media (min-width:768px) {
	.container .bootcards-list {
		border-right: 1px solid rgba(0,0,0,0.2);
	}	
}

.container .bootcards-cards {
	padding-top: 15px;
}

@media (min-width:768px) {
	.bootcards-cards > div[class*='col-']:not(:first-child) {
		padding-left:8px;
	}	
	.bootcards-cards > div[class*='col-']:not(:last-child) {
		padding-right:8px;
	}		
}




/* MENU */

.navmenu {
	display: none;
	padding: 0;
}

.navmenu li {
	font-size: 15px;
	line-height: 30px;
}

.navmenu i {
	width: 24px;
	margin-right: 5px;
	text-align: center;
}




/* LISTS */

.bootcards-list {
	padding: 0;
}

.bootcards-list .panel {
	margin-bottom: 0;
}

.list-group-item:first-child,
.list-group-item:last-child {
	border-radius: 0;
}

a.list-group-item:before {
	font-family: 'FontAwesome';
	content: 'ï”';
	position: absolute;
	right: 15px;
	top: 50%;
	font-size: 14px;
	line-height: 14px;
	margin-top: -7px;
	color: #ccc;
}

/* List - Search Form */

.bootcards-list .panel-body {
	padding: 0;
}

.bootcards-list form, .bootcards-list .search-form {
	background: #BBB;
	padding: 8px;
}

.bootcards-list form .row, .bootcards-list .search-form .row {
	margin: 0;
}

.bootcards-list form .row > div:first-child, .bootcards-list .search-form .row > div:first-child {
	padding-right: 4px;
	padding-left: 0;
}

.bootcards-list form .row > div:last-child, .bootcards-list .search-form .row > div:last-child {
	padding-left: 4px;
	padding-right: 0;
}




/* CARDS */

.panel-footer {
	background: 0;
}




/* FOOTER */

.no-footer .navbar-fixed-bottom {
	display: none;
}

.navbar-fixed-bottom .container {
	padding: 0;
	margin: 0;
}

.navbar-fixed-bottom .btn-group {
	list-style: none;
	max-width: 400px;
	width: 100%;
	margin: 0 auto;
}

.navbar-fixed-bottom .btn-group .btn {
	width: 25%;
	padding: 0;
	border: 0;
	background: transparent;
	box-shadow: none;
	display: inline-block;
	text-align: center;
	font-size: 11px;
	padding-top: 7px;
	color: #929292;
}