body {
	padding-top: 80px;
	background: #f5f5f5;
}


/* NAVBAR */

.btn-back,
.btn-menu {
	display: none;
}

.navbar-default .navbar-brand {
	font-weight: bold;
	color: #333;
}

.navbar-nav i {
	margin-right: 5px;
}


/* MENU */

.menu { display: none; }
.navmenu { display: none; }



/* LISTS */

.list-group label {
	font-weight: normal;
}

a.list-group-item:before {
	font-family: 'FontAwesome';
	content: 'ï”';
	position: absolute;
	right: 15px;
	top: 50%;
	font-size: 14px;
	line-height: 14px;
	margin-top: -7px;
	color: #ccc;
}

a.list-group-item.active:before {
	color: #e1edf7;
}

/* List Search */

.bootcards-list .panel-body > form > .row > div:first-child,
.bootcards-list .panel-body > .search-form > .row > div:first-child {
	padding-right: 0;
}



/* CARDS */

.panel-title {
	margin: 7px 0;
}

.panel-content form {
	padding: 15px;
}



/* MODAL */

.modal-header {
	overflow: hidden;
	line-height: 32px;
}

.modal-title {
	text-align: center;
}




/* FOOTER */

.navbar-fixed-bottom {
	position: static;
	padding-top: 20px;
	padding-bottom: 20px;
	background: transparent;
}

.navbar-fixed-bottom .btn-group {
	display: none;
}

.navbar-fixed-bottom .bootcards-desktop-footer {
	display: block;
	text-align: center;
	color: #999;
}



/* DOCUMENTATION */

.bootcards-documentation-list > .panel {
	position: fixed;
}

@media (min-width:768px) {
	.bootcards-documentation-list > .panel {
		width: 163px;
	}
}

@media (min-width: 992px) {
	.bootcards-documentation-list > .panel {
		width: 213px;
	}	
}

@media (min-width: 1200px) {
	.bootcards-documentation-list > .panel {
		width: 263px;
	}	
}